other
alembic/versions
alembic.ini
__pycache__/
*.pyc
.pytest_cache/
.env
venv/
.idea/
*.db
.coverage
database/.DS_Store
routers/.DS_Store
*.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
